<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DN-01</title>
	
	<meta http-equiv="Content-Language" content="en-gb" />
	<meta name="author" content="Dan Nisbet" />
	<meta name="copyright" content="Copyright 2006" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="all" />

	<meta name="revisit-after" content="7 days" />
	
	<link rel="stylesheet" href="css/main.css" type="text/css" />

<body>

<div id="container">
	<div id="menu">
	  <p><img src="images/logo.gif" width="40" height="40" alt="DanNisbet.com" /></p>
	  <ul>
	  	<li><a href="#">Home</a></li>
	  	<li><a href="#">About</a></li>
	  	<li><a href="#">Contact</a></li>
	  </ul>
	  <p><img src="images/verticalbar.gif" width="40" height="150" alt="" /></p>
	  <div id="footer">
	  <p class="copyright">&copy; 2007<br />
	  Your Name</p>
	<p><a href="http://www.dannisbet.com/">DanNisbet</a></p></div>
	</div>

	<div id="content"><h1>DN-01</h1>
	
		<p>Donec mi sapien, molestie eu, congue eu, placerat sed, augue. Nulla bibendum. Nulla tellus ipsum, ornare sed, nonummy quis, adipiscing quis, massa. Sed quis mauris. Pellentesque mattis egestas diam. Cras et eros vitae diam placerat accumsan. Aliquam erat volutpat. Etiam volutpat. Nunc sagittis. Phasellus quam dolor, tincidunt non, ullamcorper accumsan, tincidunt at, massa. Ut sodales enim nec dui. Aliquam erat volutpat. Quisque ultricies feugiat libero. Donec tincidunt, orci a facilisis rhoncus, odio eros fermentum ligula, quis pharetra arcu tortor non metus. Praesent vestibulum sapien pretium metus. Proin quis turpis a sem eleifend molestie. Aenean quis augue vitae lacus cursus sodales.</p>

<p>Praesent scelerisque hendrerit quam. Nunc sit amet dui vitae orci rhoncus bibendum. Nulla est. Quisque tincidunt, dolor id tincidunt vehicula, elit odio blandit elit, vel interdum mi urna at diam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean diam. Nulla est dolor, gravida ac, sodales non, blandit in, lorem. Proin ornare, purus quis rhoncus rhoncus, velit nulla imperdiet urna, ac tempor libero augue in nulla. Ut convallis accumsan magna. Nunc bibendum mi at metus. Vivamus erat. Etiam neque tortor, mollis sit amet, vestibulum sit amet, gravida ut, neque. Mauris commodo. Nunc nunc.
</p>

<p><b>Unordered List:</b></p>
<ul>
<li>Pellentesque tellus. Nunc id augue.</li>
<li>Morbi imperdiet accumsan nunc.</li>
<li>Sed bibendum tortor nec augue.</li>
</ul>

<p><b>Ordered List:</b></p>
<ol>
<li>Pellentesque tellus. Nunc id augue.</li>
<li>Morbi imperdiet accumsan nunc.</li>
<li>Sed bibendum tortor nec augue.</li>
</ol>

<p>Input Box:<br />
<input name="subject" type="text" size="75"></input>
</p>

<p>Text Area:<br />
<textarea name="message" cols="72" rows="5"></textarea>
<br />
<input type="button" value="Button"></input></p>
	</div>
</div>

</body>
</html>