!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/notifications.js')
    script(src='/socket.io/socket.io.js')
  body!= body
