td{  
    font-family: verdana,arial, "ms sans serif", sans-serif;
    font-size: 11px;
    color: #ffffff;
}
.title{
    background-color: #3A455B
}
.text{
    font-family: Helvetica, Arial, Verdana;
    font-size: 11px;
    color: #FFFFFF
}
.newshead{
    font-family: verdana, arial, "ms sans serif", sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: bold; 
    background-color: #cccccc;
}
.maintext{
    font-family: verdana, arial, "ms sans serif", sans-serif;
    font-size: 12px;  color: #ffffff;
    background-color: #535D69;
}
.small {
    font-family: verdana, arial, "ms sans serif", sans-serif;
    font-size: 10px;
    padding-left: 5px;
    line-height: 14px;
    color: #e9f2fc;
}
td.dark{
    background-color: #363D45; font-size: 1px
}
td.medium {
    background-color: #5A6570; font-size: 1px
}
td.light{
    background-color: #636F7C; font-size: 1px
}
.style1 {
    color: #C1FF64
}
